@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: theme('colors.background');
  color: theme('colors.secondary');
  font-family: theme('fontFamily.sans');
}

* {
  box-sizing: border-box;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  30% {
    opacity: 0.5;
  }
  60%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* For Webkit browsers like Chrome, Safari */
@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.7;
  }
  30% {
    opacity: 0.5;
  }
  60%,
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
